mlenv/
venv/
.venv/
Doc/
__pycache__/
*.pyc
*.pyo
*.pyd

data/
.git/
.gitignore
.idea/
.vscode/
.env
0606(3).mp4
windows_start.bat
README.md
linux_start.sh
Personalized AI Recommendation System with FastAPI.docx